<div class="user-content">
    <div class="user-panel">
        <h2 class="user-panel-title">Informações da Conta</h2>
        <% unless @user.confirmed? %>
          <div class="alert-box alert-primary">
              <div class="alert-txt"><em class="ti ti-alert"></em>Seu email ainda não foi confirmado.</div>
              <a href="#" class="btn btn-sm btn-primary">Reenviar Email</a>
          </div><!-- .alert-box -->
        <% end %>
        <ul class="nav nav-tabs nav-tabs-line" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#personal-data">Dados Pessoais</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#plan">Plano</a>
            </li>
        </ul><!-- .nav-tabs-line -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="personal-data">
                <form action="#">
                    <div class="input-item input-with-label">
                        <label for="full-name" class="input-item-label">Nome</label>
                        <input class="input-bordered" type="text" id="full-name" name="full-name">
                    </div><!-- .input-item -->
                    <div class="input-item input-with-label">
                        <label for="email-address" class="input-item-label">Endereço de Email</label>
                        <input class="input-bordered" type="text" id="email-address" name="email-address">
                    </div><!-- .input-item -->
                    <div class="input-item input-with-label">
                        <label for="mobile-number" class="input-item-label">Celular</label>
                        <input class="input-bordered" type="text" id="mobile-number" name="mobile-number">
                    </div><!-- .input-item -->

                    <div class="row">
                        <div class="col-md-7">
                          <div class="input-item input-with-label">
                              <label for="address" class="input-item-label">Endereço</label>
                              <input class="input-bordered" type="text" id="address" name="address">
                          </div><!-- .input-item -->
                        </div><!-- .col -->
                        <div class="col-md-5">
                          <div class="input-item input-with-label">
                              <label for="city" class="input-item-label">Cidade</label>
                              <input class="input-bordered" type="text" id="city" name="city">
                          </div><!-- .input-item -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                    <div class="row">
                      <div class="col-md-7">
                          <div class="input-item input-with-label">
                              <label for="state" class="input-item-label">Estado</label>
                              <select class="country-select" name="state" id="state">
                                  <option value="us">United State</option>
                                  <option value="uk">United KingDom</option>
                                  <option value="fr">France</option>
                                  <option value="ch">China</option>
                                  <option value="cr">Czech Republic</option>
                                  <option value="cb">Colombia</option>
                              </select>
                          </div><!-- .input-item -->
                      </div><!-- .col -->
                      <div class="col-md-5">
                          <div class="input-item input-with-label">
                              <label for="zipcode" class="input-item-label">CEP</label>
                              <input class="input-bordered" type="text" id="zipcode" name="zipcode">
                          </div><!-- .input-item -->
                      </div><!-- .col -->
                    </div><!-- .row -->
                    <div class="gaps-1x"></div><!-- 10px gap -->
                    <div class="d-sm-flex justify-content-between align-items-center">
                        <button class="btn btn-primary">Atualizar</button>
                        <div class="gaps-2x d-sm-none"></div>
                        <span class="color-success"><em class="ti ti-check-box"></em> All Changes are saved</span>
                    </div>
                </form><!-- form -->
            </div><!-- .tab-pane -->
            <div class="tab-pane fade" id="plan">
                <p>In order to receive your ICOX Tokens, please select your wallet addres and you have to put the address below input box. You will receive ICOX tokens to this address after the Token Sale end.</p>
                <form action="#">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-item input-with-label">
                                <label for="swalllet" class="input-item-label">Select Wallet </label>
                                <select class="input-bordered" name="swalllet" id="swalllet">
                                    <option value="eth">Ethereum</option>
                                    <option value="dac">DashCoin</option>
                                    <option value="bic">BitCoin</option>
                                </select>
                            </div><!-- .input-item -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                    <div class="input-item input-with-label">
                        <label for="token-address" class="input-item-label">Your Address for tokens:</label>
                        <input class="input-bordered" type="text" id="token-address" name="token-address" value="0xde0b295669a9fd93d5f28d9ec85e40f4cb697bae">
                        <span class="input-note">Note: Address should be ERC20-compliant.</span>
                    </div><!-- .input-item -->
                    <div class="gaps-2x"></div>
                    <div class="note note-plane note-danger">
                        <em class="fas fa-info-circle"></em>
                        <p>DO NOT USE your exchange wallet address such as Kraken, Bitfinex, Bithumb, Binance etc. You can use MetaMask, MayEtherWallet, Mist wallets etc. Do not use the address if you don’t have a private key of the your address. You WILL NOT receive ICOX Tokens and WILL LOSE YOUR FUNDS if you do.</p>
                    </div>
                    <div class="gaps-3x"></div>
                    <div class="gaps-1x"></div><!-- 10px gap -->
                    <div class="d-sm-flex justify-content-between align-items-center">
                        <button class="btn btn-primary">Update</button>
                        <div class="gaps-2x d-sm-none"></div>
                        <span class="color-success"><em class="ti ti-check-box"></em> Saved your wallet address</span>
                    </div>
                </form><!-- form -->
            </div><!-- .tab-pane -->
        </div><!-- .tab-content -->
    </div><!-- .user-panel -->
</div><!-- .user-content -->
