
<div class="user-content">
	<div class="user-panel">
			<h2 class="user-panel-title">Realização do Pagamento</h2>
			<p>Você está quase lá! Para ter acesso aos seus jogos, autorize o pagamento pela plataforma segura do PayPal clicando no botão abaixo.</p>
			<div class="gaps-2x"></div>
			<div class="status status-empty">
					<div class="status-icon">
							<em class="ti ti-files"></em>
							<div class="status-icon-sm">
									<em class="ti ti-close"></em>
							</div>
					</div>
					<span class="status-text">Pronto! Só falta autorizar o pagamento:</span>
          <div id='paypal-btn'></div>
					<!--<a href="#" class="btn btn-primary">Autorizar pelo PayPal</a> <!-->
			</div>
			<div class="note note-md note-info note-plane">
					<em class="fas fa-info-circle"></em>
					<p>O pagamento será recorrente, pelo cartão de crédito, e dará acesso aos seus novos jogos todo mês. Você pode cancelar a qualquer momento.</p>
			</div>
	</div><!-- .user-kyc -->
</div><!-- .user-content -->

<script src="https://www.paypal.com/sdk/js?client-id=AXM1zv_UklRbQ6_Jbb51kVREuTF5M7PPayUI5b3dDGa0G34yZv6lPex_y71swVuv6WSwogh_o1JqhaS9&vault=true"></script>
<script>paypal.Buttons().render('#paypal-btn');</script>
